In [14]:
Pi = 3.14159
pi = 3.14159
3 * pi == 3.14159 * 3
pi_2 = 3.14159**2
pi**2 == 3.14159**2
my_radius = 5
My_Radius = 5
class_1 = 5

In [30]:
x=25
y=28
z=x^y
print(z)

5

In [32]:
x = '2'
y = z = 2

print(x * y)
print(x + x)
print(y * z)
print((y+z)**z)
print(y/(y+z))

print( type(x * y) )
print( type(y * z) )
print( type((y+z)**z) ) 
print( type(y/(y+z)) )

22
22
4
16
0.5
<class 'str'>
<class 'int'>
<class 'int'>
<class 'float'>

In [34]:
x = 12
y = 10

z = x + y
x = x + y
y = z + y
print(x,y,z)

22 32 22

In [36]:
x = 10
y = 3

print( x % y ) # 1
print( x + y ) # 13
print( x == y ) # False
print( x ** y ) # 1000
print( x - y ) # 7
print( x // y ) # 3

1
13
False
1000
7
3

In [44]:
import math
x = math.pi
print(x)
r = 6
v= (4/3)* x * (r**3)
print(v)

3.141592653589793
904.7786842338603

In [3]:
import math
x = math.pi

v = 14137
r = 1
while r<20:
    r+=1
    if v== int((4/3)* x * (r**3)):
        print(r)
    else :
        continue

15

In [2]:
import math
x = math.pi
print(x)
v = 14137
r = ((3*v)/(4*x))**(1/3)
print(r)

3.141592653589793
14.99994095641231

In [1]:
p=1
print(p)

1

In [12]:
b = 2
for a in range (1,3):
    if a==b:
        print("inside 1")
        print("inside 2")
        print("inside")
        print("after condition")
    else:
        print("after condition")

after condition
inside 1
inside 2
inside
after condition

In [16]:
x=4

if x > 0 and x < 5:
    print("Joe")

if x > 0 or x < 5:
    print("Aled")

if not(x > 0):
    print("Sarah")

Joe
Aled

In [19]:
for x in range(0,9):
    if x%2 == 0:
        print(x,"is even")
    else:
        print(x,"is odd")

0 is even
1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even

In [21]:
x = 2
y = 3

if x != y:                                 #line 1
    print("x is not equal to y")
    
    if(x > y):                             #line 4
        print("x is greater than y")
    
    else:                                  #line 7
        print("x is less than y")

else:
    print("x is equal to y")

x is not equal to y
x is less than y

In [36]:
cities = ['New York', 'London', 'Beijing', 'Tokyo', 'Delhi']
print(cities[1])
print(cities[-2])
print(cities[2:4])
print(cities.index ('Beijing'))
print()
print()
print()

London
Tokyo
['Beijing', 'Tokyo']
2

In [44]:
cities = ['New York', 'London', 'Beijing', 'Tokyo', 'Delhi']
cities.reverse()
print(cities)

['Delhi', 'Tokyo', 'Beijing', 'London', 'New York']

In [58]:
cities = ['New York', 'London', 'Beijing', 'Tokyo', 'Delhi']
cities.pop(-2)
cities.pop(-1)
cities.insert(0,'Tokyo')
cities.insert(3,'Delhi')
cities.insert(2,'Toronto')
p = cities.pop(1)
print(p)
print(cities)
if 'Moscow'in cities:
    print("ture")
else:
    print("false")

New York
['Tokyo', 'Toronto', 'London', 'Delhi', 'Beijing']
false